/*profile.css*/

html{
background-color:#98B3E4;
}

body {
  background-image: url(background1.jpg);
  color: #00000;
  font-family: "Open Sans", Arial;
}

.navbar {
background-color:#D1BDD9;
font-color:#343a40
}

#navbar-brand{
	color:#343a40
}

.btn {
  font-weight: 400;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {background-image: url(background.jpg)
border-color:#E0D2EE;
}


.card-text{
	background:#D1BDD9
}



